<table>
    <tr>
       <th>CPF</th>
       <th>Disciplina</th>
       <th>Notas</th>
    </tr>
    <tr *ngFor="let matricula of matriculas">
      <td><input [(ngModel)]="matricula.cpf"></td>
      <td><input [(ngModel)]="matricula.disciplina"></td>
      <td>{{ matricula.notas.join(", ") }}</td>
      <button (click)="atualizarMatricula(matricula)"> Atualizar </button>
      <button (click)="deletarMatricula(matricula.id)"> Deletar </button>
    </tr>
</table>

<input [(ngModel)]="this.cpfAluno">
<input [(ngModel)]="this.disciplina">
<button (click)="realizarMatricula(cpfAluno, disciplina)"> Cadastrar nova matrícula</button>
